.fundoCadastro {
    background-image: url(https://ik.imagekit.io/r79tg58za/programmer.png?updatedAt=1705525390544);
      background-repeat: no-repeat;
      width: 60%;
      min-height: 70vh;
      background-size: cover;
      background-position: center;
  }